/* universal selector */
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: #354463;
}

a {
  text-decoration: none;
}
/* mobile view */
/* header */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.title_container {
  font-weight: bold;
}
.nav-container .items_container ul {
  list-style: none;
}

.header-container .button_container {
  width: 70%;
  min-height: 5vh;
  background-color: #c1f7d5;
  border-radius: 100px;
  text-align: center;
  align-content: center;
  margin: auto;
}
/* issue section */
.issue-container {
  background-image: url("/assets/assets/home/annie-spratt-135307-unsplash@3x.png");
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: cover;
  width: 100%;
  margin-top: 10%;
  padding: 30px 0 30px 30px;
}
.issue-container div:first-child p {
  color: #ffffff;
  font-family: "Flood std";
  font-size: 3rem;
}
.legend {
  background-color: #354463;
  font-family: helvetica;
  color: #ffffff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 14px;
  top: -1rem;
  width: 160px;
  height: 40px;
}
.issue-container .content-container {
  background-color: #ffffff;
  width: 89%;
  height: 30%;
  margin-top: 10%;
}
.issue-container .content-container p {
  font-family: helvetica;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
}
.issue-container .content-container a p {
  text-decoration: underline;
  font-size: 1rem;
  margin: auto;
  text-align: center;
}
/* take action section */
.takeAction-section {
  background-color: #c1f7d5;
}
.takeAction-section .data_container:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10%;
  gap: 10%;
}
/* what we do section */
.what-we-do-section {
  background-color: #354463;
  padding: 40px;
}
.what-we-do-section .heading {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 30%;
  text-align: center;
}
.what-we-do-section .legend {
  background-color: #ffffff;
  color: #354463;
}
.what-we-do-section .sub-container {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.what-we-do-section .sub-container p {
  color: #354463;
  font-size: 1rem;
  padding: 20px;
}

.img-container {
  background: url("/assets/assets/home/tree-planting.png");
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: cover;
  margin: auto;
  position: relative;
  top: -50px;
  width: 80%;
  height: 20vh;
}

.btn {
  background-color: #c1f7d5;
  width: 50%;
  height: 5vh;
  margin: auto;
  text-align: center;
  align-content: center;
  border-radius: 100px;
}
.img2 {
  background: url("/assets/assets/home/education-training@2x.png");
  background-repeat: no-repeat;
}
.img3 {
  background: url("/assets/assets/home/advocacy@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* did yo know section */

.did-you-know-section {
  background: url("/assets/assets/home/did-you-know-background@3x.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: cover;
  width: 100%;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.did-you-know-section .main_container > p {
  color: #ffffff;
  font-family: "Flood std";
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 30px;
}
.did-you-know-section .action_button_container {
  width: 40%;
  height: 5vh;
  background: #c1f7d5;
  border-radius: 100px;
  text-align: center;
  align-content: center;
  margin-bottom: 100px;
}
.did-you-know-section .did-you-know-container {
  background-color: #ffffff;
  width: 90%;
  height: 15vh;
  margin-bottom: 20px;
}
.did-you-know-section .sub-container p {
  font-size: 14px;
}
.did-you-know-section .sub-container h1 {
  font-size: 22px;
}
.did-you-know-section .sub-container {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 20px;
  padding: 10px;
}
.logo {
  background: #c1f7d5;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.logo img {
  margin-top: 9px;
  margin-left: 9px;
}

/* stories section */

.stories-section > div:nth-child(1) {
  margin-bottom: 30px;
  background: url("assets/assets/home/lady-baby@3x.png");
  background-position: 0% 0%;
  background-size: cover;
  width: 80%;
  height: 30vh;
  margin: auto;
  margin-bottom: 30px;
}
.stories-section .stories_container > p {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: helvetica;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
.stories-section .stories_container p:nth-child(2) {
  font-size: 0.8rem;
}

.stories-section .stories_container {
  width: 80%;
  margin: auto;
  background-color: #354463;
  padding: 20px;
  margin-bottom: 20px;
}

/* event section */

.event-section {
  margin-top: 50px;
  background-color: #354463;
  padding: 40px;
}
.event-section > p {
  text-align: center;
  font-family: flood std;
  font-size: 2.7rem;
  color: #ffffff;
}
.event-section > div:nth-child(2) > div {
  color: #354463;
}
.event-section .event-container-img {
  background: url("/assets/assets/home/tree-planting.png");
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: cover;
  height: 30vh;
  margin-top: 50px;
  margin-bottom: 30px;
}
.event-section .img2 {
  background: url("/assets/assets/home/meeting.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.event-container > p:nth-child(2) {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}
.event-container p:nth-child(3) {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}
.event-section > div:nth-child(5) > div {
  background-color: #ffffff;
  color: #354463;
}

.event-section .legend {
  position: relative;
  top: -315px;
}
.subscribe-section {
  padding: 40px;
  background-color: #c1f7d5;
}

/* subscribe section */
.subscribe-section .Subscribe-Note {
  font-size: 1.3rem;
  color: #354463;
  margin-bottom: 30px;
}
.subscribe-section > div {
  display: flex;
  justify-content: space-around;
}
.subscribe-section > div > input[placeholder] {
  font-size: 14px;
  color: #354463;
  text-align: center;
}
.subscribe-section .email_input {
  width: 50%;
  height: 5vh;
  border-radius: 100px;
  border: none;
}
.subscribe-section > div > div > a {
  color: #c1f7d5;
}
.subscribe-section .Subscribe-btn {
  width: 30%;
  height: 5vh;
  background-color: #354463;
  border-radius: 100px;
  margin: auto;
  text-align: center;
  align-content: center;
}
/* footer section */
.footer-section > div:nth-child(5) > p {
  color: #354463;
  font-family: "Flood std";
  font-size: 3rem;
}
.footer-section {
  color: #354463;
}
.footer-section {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
}
.footer-section .title_container {
  color: #354463;
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
  width: 94px;
}
.footer-section a {
  text-decoration: underline;
  color: #354463;
}
.contact_us_container > span,
.follow_us_container,
.learn_more_container {
  width: 100px;
}

.footer-section .slogan_container {
  grid-area: 3/2;
}

/* tablet */
@media (min-width: 750px) and (max-width: 1040px) {
  .nav-container {
    display: block;
    padding: 20px;
  }
  .header-container > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .nav-container .items_container ul {
    display: flex;
    justify-content: space-around;
  }

  .title_container {
    padding-left: 50px;
    padding-bottom: 10px;
  }
  .issue-container {
    margin-top: 0;
  }
  .issue-container .content-container {
    padding: 0px 50px 50px 50px;
  }
  .issue-container .content-container p {
    font-size: 2.25rem;
    text-align: left;
    padding-bottom: 0;
  }
  .issue-container .content-container a p {
    text-align: left;
  }
  .issue-container .legend {
    transform: translateX(-125%);
  }
  .takeAction-section .data_container:last-child {
    row-gap: 20%;
    padding-top: 0;
    padding-bottom: 5%;
  }

  .what-we-do-section {
    padding: 10%;
  }
  .what-we-do-section .legend {
    margin-left: 0px;
  }
  .what-we-do-section .heading {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 10%;
  }
  .img-container {
    max-width: 288px;
    height: 201px;
    position: relative;
    top: -20%;
  }
  .what-we-do-section .sub-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .what-we-do-section .sub-container .btn {
    grid-area: 2/1;
    position: relative;
    top: -50px;
    left: 50px;
  }
  .what-we-do-section .sub-container p {
    position: relative;
    top: -4rem;
    text-align: left;
    padding-left: 0;
  }
  .what-we-do-section .sub-container h1 {
    align-content: center;
    text-align: left;
    font-size: 22px;
    line-height: 5rem;
  }

  .did-you-know-section {
    display: flex;
    justify-content: space-around;
  }
  .did-you-know-section .did-you-know-container {
    height: 20vh;
  }
  .did-you-know-section .did-you-know-container:nth-child(1) {
    height: 20vh;
  }
  .stories-section {
    padding: 10%;
  }
  .stories-section > div:nth-child(1) {
    height: 568px;
    transform: translateX(-15%);
  }
  .stories-section .stories_container {
    position: relative;
    top: -200px;
  }
  .stories-section .btn {
    margin-top: -200px;
    margin-bottom: -100px;
    margin-left: 70px;
    width: 161px;
  }

  .event-section {
    margin: auto;
    padding: 10%;
  }
  .event-section .event-container-img {
    width: 100%;
    height: 50vh;
  }
  .event-container-img .legend {
    background-color: #ffffff;
    color: #354463;
  }

  .event-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .event-container > p:nth-child(2) {
    text-align: left;
    font-size: 2.7rem;
  }
  .event-section .legend {
    position: relative;
    top: 0;
    left: -30px;
    color: #354463;
    background-color: #ffffff;
  }
  .event-container p:nth-child(3) {
    text-align: left;
    font-size: 1.25rem;
  }
  .event-section > div:nth-child(2) > div:nth-child(2) {
    padding: 20px;
  }

  .event-section > div:nth-child(3) > div.event-container-img {
    grid-column: 2;
    grid-row: 1;
  }
  .data {
    transform: translateY(10%);
  }
  .event-section .btn {
    transform: translateX(-120px);
  }

  .subscribe-section > div {
    display: block;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
  }
}

/*disktop */
@media (min-width: 1040px) {

  .header-container {
    padding: 30px;
  }
  .nav-container {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nav-container > div:first-child {
    display: flex;
    justify-content: flex-start;
  }
  .nav-container .items_container ul {
    display: flex;
    justify-content: space-around;
  }
  .header-container > div {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .header-container .button_container {
  /* width: 50%; */
  padding-left: 10px;
  }
  .issue-container {
    margin-top: 0;
    background-position: 0% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .issue-container > div {
    align-self: flex-start;
    margin-top: 50px;
    margin-right: 400px;
  }

  .issue-container .content-container p {
    padding: 10px;
    justify-self: center;
  }

  .issue-container > div:nth-child(2) {
    margin: 0px 40px 0px 0px;
    align-self: flex-start;
    width: 30%;
    height: 30vh;
    font-size: 44px;
    order: -1;
  }
  .legend {
    padding: 0;
    margin-left: 30px;
  }
  .takeAction-section .data_container:last-child {
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    padding: 0px 30px 30px 30px;
  }
  .what-we-do-section .legend,
  .what-we-do-section .btn {
    margin-left: 0;
    padding-left: 0;
  }
  .what-we-do-section .sub-container > p,
  .what-we-do-section .sub-container > h1 {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
  }
  .what-we-do-section .sub-container > h1,
  .what-we-do-section .sub-container > p,
  .what-we-do-section .btn,
  .what-we-do-section .sub-container > div:first-child {
    position: relative;
    top: -35px;
    left: 25px;
  }
  .what-we-do-section .heading {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 5%;
  }
  .what-we-do-section > div:nth-child(3) {
    display: flex;
    gap: 40px;
  }
  .what-we-do-section .sub-container {
    padding: 0;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .what-we-do-section .sub-container > div:first-child {
    width: 100%;
    height: 30vh;
    margin-bottom: 10px;
  }
  
   .did-you-know-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .did-you-know-section .did-you-know-container {
    height: 20vh;
  }
  .did-you-know-section .did-you-know-container:nth-child(1) {
    height: 20vh;
  }
  .stories-section {
    margin: 0px;
    margin-bottom: -300px;
  }
  .stories-section > div:nth-child(1) {
    width: 640px;
    height: 568px;
    margin-bottom: 0px;
    position: relative;
    left: 200px;
  }
  .stories-section > div:nth-child(2) {
    width: 544px;
    height: 300px;
    align-content: center;
    padding: 0;
    position: relative;
    top: -400px;
    left: -250px;
  }
  .stories-section .btn {
    width: 160px;
    position: relative;
    top: -370px;
    left: -440px;
  }

  .event-section {
    padding: 10%;
  }
  .event-section > p {
    font-size: 5rem;
    text-align: left;
  }
  .event-section .event-container-img {
    width: 100%;
    height: 50vh;
  }
  .event-container-img .legend {
    background-color: #ffffff;
    color: #354463;
  }

  .event-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .event-container > p:nth-child(2) {
    text-align: left;
    font-size: 2.7rem;
  }
  .event-section .legend {
    position: relative;
    top: -25px;
    left: -30px;
    color: #354463;
    background-color: #ffffff;
  }
  .event-container p:nth-child(3) {
    text-align: left;
    font-size: 1.25rem;
  }
  .event-section > div:nth-child(2) > div:nth-child(2) {
    padding: 20px;
  }

  .event-section > div:nth-child(3) > div.event-container-img {
    grid-column: 2;
    grid-row: 1;
  }
  .data {
    transform: translateY(10%);
  }
  .event-section .btn {
    transform: translateX(-140px);
    width: 160px;
  }

  .subscribe-section > div {
    display: block;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
  }
  .subscribe-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe-section .Subscribe-Note {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0;
  }
  .subscribe-section .email_input {
    width: 100%;
  }
  .subscribe-section .Subscribe-btn {
    width: 50%;
  }

  .footer-section {
    display: block;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  }
  .footer-section .slogan_container {
    grid-area: 1/5;
  }
  .footer-section .title_container {
    justify-self: center;
  }
}
